{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	<title>youtube playlist duration</title>
	<link rel="stylesheet" type="text/css" href="{% static 'playlist_duration_app/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'playlist_duration_app/css/main.css' %}">	
</head>
<body>
	<div class="container">
		<div class='row text-center'>
		{% block content %}

		{% endblock content %}
		</div>
	</div>
</body>
</html>